@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400 & display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1024px;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F0A83E;
    width: 100%;
    height: 54px;
}

.container-header{
    display: flex;
}
 .container h3{
    
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
     
}
.text{
   color: white;
}
.cat{
    position: relative;
    margin-left: 40px;
    margin-right: 3px;
    top: 1px;
    width: 14px;
    height: 14px;
    
}
.dog{
    position: relative;
    margin-left: 3px;
    top: 2px;
    width: 14px;
    height: 14px;
}    
.vector{
    position: relative;
    width: 20px;
    margin-right: 50px;
}
    
.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-image: url(img/bowl-and-pet-daities-on-green-background\ 1.png);
    width: 100%;
    height: 440px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
 h2{
    background-color: white;
    width: 380px;
    height: 50px;
    border-radius: 5px;
    margin-top: 200px;
    text-align: center;
    line-height: 50px;
}
h4{
    margin-top: 20px;
    margin-left: 180px;
    font-weight: normal;
}
 h5{
    background: #F0A83E;
    width: 141px;
    height: 49px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 190px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: normal;
    font-size: 18px;
}

.productos-destacados{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.paw{
    position: relative;
    width:90.38px;
    height: 83.95px;
    top: 20px;
    text-align: center;
} 

h1{ 
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    width: 100%;
    color: #3C2313;
    padding: 30px;
    font-size: 40px;
    padding-bottom: 20px;
}
   
.links{
    display: flex;
    justify-content: center;
    font-size:20px;    
}
h6{
    margin: 10px;
    font-weight:lighter;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    
}

.churrasquito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url(img/churrasquito.png);
    width: 239px;
    height: 283px;
    margin: 12px;
    padding: 7px;
    
}

.comedero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url(img/comedero.png);
    width: 239px;
    height: 283px;
    margin: 12px;
    padding: 7px;
}

.Juguete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url(img/Huesito.png);
    width: 239px;
    height: 283px;
    padding: 12px;
    margin: 12px;

}

.precio{
    color: #F0A83E;
}

#contacto{
    margin: 0px;
    margin-top: 25px;
    text-align: center;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    
}

#nombre{
    background: #3C2313;
    padding: 5px;
    height: 40px;
    width: 360px;
    margin: 5px;
    border-style: none;
    border-radius: 15px;
    font-size: 10px;
    color: white;
}
#email{
    background: #3C2313;
    padding: 5px;
    height: 40px;
    width:360px;
    margin: 5px;
    border-style: none;
    border-radius: 15px;
    font-size: 10px;
    color: white;
}
#telefono{
    background: #3C2313;
    padding: 5px;
    height: 40px;
    width: 360px;
    margin: 5px;
    border-style: none;
    border-radius: 15px;
    font-size: 10px;
    color: white;
    
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
 #reset{
    background: #8A8787;
    width: 199px;
    height: 45px;
    border: 0;
    margin: 3px;
    border-radius: 25px;
    color: white;
}
#submit{
    background: #F0A83E;
    width: 199px;
    height: 45px;
    border: 0;
    margin: 3px;
    border-radius: 25px;
    color: white;
}

.bodybottom{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #F0A83E;
    margin-top: 40px;
    
}

#sobre{
    margin: 17px 7px;
}
.suscríbete{
    margin-top: 13px;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    
}

.email2 #email{
    background: #FFFFFF;
    width: 261px;
    height: 40px;
    margin-left: 20px;
    color: grey;
    padding: 15px;
    
}

.button #submit{
    background: #3C2313;
    width: 100px;
    height: 35px;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 15px;
}
footer{
    background-color: #3C2313;
    width: 100%;
    height: 320px;
}

.footer__logo{
    display: flex;
    position: relative;
    top: 10px;
    justify-content: center;
}

.text2{
    color: #F0A83E;
    font-size: 15px;
    font-weight: normal; 
    margin-left: 3px;

}
.h32{
    color:white;
    font-size: 15px;
    font-weight: normal;
    
}

.cat2{
    width:14px;
    height: 14px;
    margin-top: 3px;
    margin-right: 3px;
}
.dog2{
    width:14px;
    height: 14px;
    margin-top: 3px;
    margin-left: 3px;
}

.contactanos{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 160px;
    line-height: 40px;

}

#localidad{
    color: white;
    font-size: 24px;
    
    
}

#Tel{
    position: relative;
    color: white;
    top: 42px;
    font-size: 24px;
}

#Correo{
    position: relative;
    color: white;
    top: 52px;
    font-size: 24px;
}

#calle{
    position: absolute;
    color: #8A8787;
    top: 25px;
    left: 5px;    
}

#numero{
    position: relative;
    color: #8A8787;
    top: 30px;
    left: 5px;    
}

#mail{
    position: relative;
    color: #8A8787;
    top: 40px;
    left: 5px;    
}

#location{
    position: absolute;
    left: -60px;
    top: 5px;
}
#phone{
    position: absolute;
    left: -60px;
    top: 92px;
}
#Group{
    position: absolute;
    left: -60px;
    top: 180px;
}
#derechos{
    background-color: black;
    width: 100%;
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: 75px;

}

@media screen and (min-width: 750px)
{ .slide {
    align-items: flex-end;
}
  .slide h4{
    margin-right: 90px;
  }  
  .slide h5{
    margin-right: 115px;
  
}
}